<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /siepi/

  # Si no es un archivo o directorio real, redirigir a index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /siepi/index.html [L]
</IfModule>